.feed-container {
    width: 580px;
    border: 1px solid var(--gray-200);
    .text-tabs {
        .mat-tab-labels {
            justify-content: space-between;
            border-bottom: 1px solid var(--gray-200);
            padding: 0 var(--space-md);
            gap: 8px;
        }
        &:first-child {
            padding: 0 24px;
        }
    }
    .mat-tab-label-content {
        display: grid;
        grid-auto-flow: column;
        gap: 8px;
        align-items: center;
        i-feather,.feather {
            display: grid;
            width: 20px;
            height: 20px;
        }
    }
}

.feed-items-container {
    background: #f7f9fa;
}

.f-avatar {
    width: 42px;
    height: 42px;
    border-radius: 24px;
    background: var(--gray-200);
}

.feed-post-container {
    background: #fff;
    display: grid;
    border-bottom: 1px solid var(--gray-200);
    gap: 12px;
}

.feed-post-click {
    width: 100%;
    border-radius: 50px;
    height: 42px;
    border: 1px solid var(--gray-200);
    padding-left: 32px;
    display: grid;
    align-content: center;
    font-size: rem(18);
    color: var(--gray-600);
    cursor: pointer;
    &:hover {
        background: var(--gray-200);
    }
}

.post-items {
    display: grid;
    border-top: 1px solid var(--gray-200);
    border-bottom: 1px solid var(--gray-200);
    gap: 8px;
    background: #fff;
}

.feed-post-head {
    display: grid;
    gap: 12px;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}
.feed-post-name{
    font-size: rem(15);
    color: #000;
    font-weight: $fw-m;
}

.feed-post-content-text {
    font-size: 16px;
    color: #000;
    line-height: 22px;
    word-spacing: -2px;
}

.feed-post-content-sub-text {
    font-size: 14px;
    color: #000;
    line-height: 20px;
    word-spacing: -2px;
}

.feed-post-content-img {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
 
.media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    img, video {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

.feed-post-actions {
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
    margin-left: -4px;
    align-items: start;
    .mat-button {
        min-width: auto;
        line-height: 18px !important;
        height: 32px;
    }
    .mat-button-wrapper {
        display: grid;
        grid-auto-flow: column;
        gap: 4px;
        align-items: center;
        justify-content: start;
    }
    .f-btn-text {
        font-weight: $fw-n !important;
        color: var(--gray-700) !important;
        font-size: 15px;
    }
}

.feed-post-actions-reply {
    .mat-button {
        line-height: 18px !important;
        height: 26px;
    }
}

.feed-post-bottom {
    display: grid;
    justify-content: start;
    grid-template-columns: auto 1fr;
    gap: 8px;
}

.feed-post-status {
    align-items: center;
    a{
        color: var(--gray-600);
        &:hover {
            text-decoration: underline;
        }
        span {
            color: #000;
        }
    }
}

.feed-reply-comments {
    .f-avatar {
        width: 32px;
        height: 32px;
    }
    input {
        border: 1px solid var(--gray-300);
        border-radius: 20px;
        padding-left: 16px;
        font-size: 14px;
    }
}

.feed-reply-input {
    border-top: 1px solid var(--gray-200);
}

.feed-b-top {
    border-top: 1px solid var(--gray-200);
}

.feeds-wrapper {
    background: #fff;
}

.feed-reply {
    .f-avatar {
        width: 36px;
        height: 36px;
    }
    input {
        font-size: 14px;
        border: 1px solid var(--gray-200);
        border-radius: 20px;
        padding-left: 16px;
    }
}

.sub-replies {
    .f-avatar {
        width: 26px;
        height: 26px;
    }
}

.f-reply-head {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    justify-content: start;
    div {
        position: relative;
        &:after {
            content: "";
            position: absolute;
            width: 6px;
            height: 6px;
            border-radius: 20px;
            background: var(--gray-500);
            right: -11px;
            top: calc( 50% - 2px);
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}

.feed-file-name {
    width: 120px;
    i-feather,.feather {
        display: grid;
        width: 40px;
        height: 40px;
    }
}

// feed create post

.fcp-container {
    width: 500px;
    border-radius: 6px;
    position: relative;
}


.fcp-dropdown {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 12px;
    align-items: center;
}

.fi-center {
    display: grid !important;
    place-content: center;
}

.fcp-dropdown-title {
    h6 {
        word-spacing: -4px;
    }
    p {
        word-spacing: -4px;
        line-height: 20px; 
    }
}

.f-contact-container {
    display: none;
}

.specific-contact-active {
    height: 600px;
    .f-contact-container {
        display: grid;
    }
}

.f-contact-container {
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    grid-template-rows : auto 1fr auto auto;

    .mat-tab-labels {
        justify-content: space-between !important;
    }
    .mat-tab-label-container {
        margin: 0 var(--space-md)
    }

    .mat-tab-group, .mat-tab-body-wrapper {
        height: 100%;
    }
}

.fcc-items {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 8px;
    height: 100%;
}

.fcc-items-list {
    display: grid;
    align-content: flex-start;
    gap: 12px;
    overflow-x: auto;
}

.fcc-item-single {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 8px;
}

.fcc-selected {
    height: 140px;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 8px;
}

.fcc-selected-items {
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
    overflow: auto;
    justify-content: start;
    align-content: start;
    overflow-x: auto;
}

.fcp-textarea {
    textarea {
        border: none;
        width: 100%;
    }
}

.dailog-create-post {
    .mat-dialog-container {
        padding: 0 !important;
    }
}

.fh-dropdown {
    .mat-button.mat-btn-sm {
        line-height: 22px;
        padding: 0 .3rem;
        font-size: 12px;
        border-radius: calc(26px / 4);
        font-weight: 600;
    }
}

// mat-button-toggle-group
.mat-button-toggle-group-fxs {
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 22px;
        font-size: 13px;
        padding: 0 6px;
    }
}

// filter container

.filter-container {
    border-radius: 6px;
    position: relative;
}

.filter-header {
    display: grid;
    grid-template-columns: 32px 1fr 32px;
    align-items: center;
    gap: 8px;
}

.filter-outer-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.filter-items-col-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.filter-item-arrow {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 24px;
    align-items: center;
}

.filter-sub-container {
    display: none;
}

.filter-sub-container-active {
    height: 100%;
    .f-contact-container {
        display: grid;
    }
}

.filter-main-wrapper {
    width: 500px;
    border-radius: 6px;
    position: relative;
    height: 660px;
}