@import "../m-functions.scss";
@import "../m-variables.scss";

:root {
    --space-md: 1rem;
    --space-sm: calc(#{var(--space-md)} / 2);
    --space-xs: calc(#{var(--space-md)} / 3);
}

@include media-breakpoint-up(lg) {
    :root {
        --space-md: 1.5rem;
    }
}

.c-px-4 {
    padding-right: var(--space-md) !important;
    padding-left: var(--space-md) !important;
}

.c-py-4 {
    padding-top: var(--space-md) !important;
    padding-bottom: var(--space-md) !important;
}

.c-p-4 {
    padding: var(--space-md) !important;
}

.c-pr-4 {
    padding-right: var(--space-md) !important;
}

.c-pl-4 {
    padding-left: var(--space-md) !important;
}
.c-pt-4 {
    padding-top: var(--space-md) !important;
}

.c-pb-4 {
    padding-bottom: var(--space-md) !important;
}

.c-pl-n4 {
    padding-left: calc(var(--space-md) - 8px) !important;
}

.c-px-n4 {
    margin-left: calc(calc(var(--space-md) - 8px) * -1);
    margin-right: calc(calc(var(--space-md) - 14px) * -1);
}

.c-mp-n4 {
    margin: 0 calc(calc(var(--space-md) / 2) * -1);
    padding: 0 calc(var(--space-md) / 2);
}

.c-p-2 {
    padding: calc(var(--space-md) / 2) !important;
}

.c-ml-n2 {
    margin-left: calc(var(--space-sm) * -1);
}

.c-mr-n2 {
    margin-right: calc(var(--space-sm) * -1);
}

.c-pl-2 {
    padding-left: var(--space-sm);
}

.c-pr-2 {
    padding-right: var(--space-sm);
}

@include media-breakpoint-down(lg) {
    .c-pl-lg-0 {
        padding-left: 0 !important;
    }
    .c-pr-lg-0 {
        padding-right: 0 !important;
    }
}
// button

@include media-breakpoint-down(md) {
    .res-btn-res-md {
        line-height: 36px !important;
        border-radius: 8px !important;
    }
}

.show-md {
    display: none !important;
}

@include media-breakpoint-down(sm) {
    .quick-actions-btn {
        grid-template-columns: 1fr;
    }
}

@include media-breakpoint-down(md) {
    .show-md {
        display: block !important;
    }

    .text-tabs .mat-tab-labels {
        grid-gap: 16px !important;
        grid-auto-columns: min-content;
    }

    .roombr-logo.sm {
        height: 32px;
        width: 35px;
        background: url(/assets/img/logo-mark.svg) no-repeat;
    }

    // dashboard
    .hide-md,
    .hide-menu {
        display: none !important;
    }

    .page-wrap {
        grid-template-columns: 1fr;
    }

    .smart-broadcast {
        display: none;
    }

    .dashboard-wrapper {
        grid-template-columns: 1fr;
    }

    // end dashboard

    // create session

    .c-session-p-l {
        padding-left: 0;
    }

    .c-session-layout-items {
        grid-template-columns: 1fr;
        grid-gap: 16px;
    }

    .c-session-with {
        grid-template-columns: 1fr;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

// container

.w-320 {
    width: 320px !important;
}

.w-480 {
    width: 480px;
}

@include media-breakpoint-down(sm) {
    .w-320 {
        display: grid;
        grid-auto-columns: minmax(0, 320px);
        width: auto !important;
    }

    .w-480 {
        display: grid;
        grid-auto-columns: minmax(0, 480px);
        width: auto !important;
    }
}

// mobile and tab

.rm-tab-mb-b-show,
.rm-tab-mb-g-show,
.rm-res-show,
.rm-res-g-show {
    display: none !important;
}

.rm-mb,
.rm-tab {
    .rm-tab-mb-b-show {
        display: block !important;
    }
    .rm-tab-mb-g-show {
        display: grid !important;
    }
    .rm-tab-mb-none {
        display: none !important;
    }
    .rm-res-show {
        display: block !important;
    }
    .rm-res-g-show {
        display: grid !important;
    }
    .rm-res-none {
        display: none !important;
    }
}

.mob-show,
.mob-g-show {
    display: none !important;
}

.rm-mb {
    .mob-hide {
        display: none !important;
    }
    .mob-show {
        display: block !important;
    }
    .mob-g-show {
        display: grid !important;
    }
    .mob-mt-n1 {
        margin-top: calc(var(--base-unit) * -1) !important;
    }
    .mob-mt-n2 {
        margin-top: calc(var(--base-unit) * -2) !important;
    }
    .mob-mt-4 {
        margin-top: calc(var(--base-unit) * 4) !important;
    }
    .mob-pt-4 {
        padding-top: calc(var(--base-unit) * 4) !important;
    }
    .mob-pt-2 {
        padding-top: calc(var(--base-unit) * 2) !important;
    }
    .mob-pt-1 {
        padding-top: var(--base-unit) !important;
    }
    .mob-p-0 {
        padding: 0 !important;
    }
    .mob-pb-2 {
        padding-bottom: calc(var(--base-unit) * 2) !important;
    }
}

// All pages

.rm-mb,
.rm-tab {
    .mob-full-width-tab {
        .mat-tab-labels {
            gap: 8px !important;
            grid-auto-columns: 1fr !important;
        }
    }
    .mob-session-container,
    .mob-main-container {
        position: fixed;
        background: #fff;
        top: 0;
        left: 0;
        width: 100%;
    }
    .mob-chat-list {
        position: fixed;
        background: #fff;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - var(--main-bottom));
    }
    .uc-lists-message {
        height: calc(
            var(--vh-100) - calc(var(--main-bottom) + 52px)
        ) !important;
    }
}

.rm-mb,
.rm-tab {
    .profile-tab {
        height: calc(
            var(--vh-100) - calc(var(--main-bottom) + var(--tab-height))
        );
        overflow: auto;
    }
    .normal-user-profile {
        .profile-tab {
            height: calc(var(--vh-100) - var(--main-bottom));
        }
    }
    .mob-f-18 {
        font-size: rem(18) !important;
    }
    .mob-f-16 {
        font-size: rem(16) !important;
    }
    .mob-f-15 {
        font-size: rem(15) !important;
    }
    .mob-f-14 {
        font-size: rem(14) !important;
    }
    .mob-w-100 {
        width: 100% !important;
    }
    // mobile,tab,responsive
    .rm-res-none {
        display: none;
    }
    .rm-res-show {
        display: grid !important;
    }
}

.rm-tab {
    .tab-j-c-c {
        justify-content: center;
    }
}

.rm-mb {
    .rm-mb-none {
        display: none;
    }
    .rm-mb-show {
        display: grid !important;
    }
}

@each $r-name, $r-size, $r-padding, $r-fontsize, $r-iconsize,
    $r-iconlinh in $all-res-sizes
{
    .rm-mb {
        .mat-button,
        .mat-stroked-button,
        .mat-flat-button {
            &.mat-btn-res-#{$r-name} {
                line-height: $r-size;
                padding: 0 $r-padding;
                font-size: $r-fontsize;
                border-radius: calc(#{$r-size} / 4);
                font-weight: $fw-m;

                .feather,
                i-feather {
                    width: $r-iconsize;
                    height: $r-iconsize;
                    line-height: $r-iconlinh !important;
                }
            }
        }
        .mat-fab,
        .mat-icon-button {
            &.mat-btn-res-#{$r-name} {
                width: $r-size;
                height: $r-size;
                border-radius: calc(#{$r-size} / 3);
                line-height: $r-size !important;
                padding: 0 !important;
                display: grid;
                align-items: center;
                justify-content: center;

                .mat-button-wrapper {
                    padding: 0;
                    line-height: 100% !important;
                }

                .feather,
                i-feather {
                    width: $r-iconsize;
                    line-height: 100% !important;
                }
            }
        }

        .search-res-#{$r-name} {
            display: grid;
            grid-template-columns: #{$r-size} 1fr;
            height: $r-size;
            border-radius: calc(#{$r-size} / 4);
            align-items: center;
            .input-search {
                border: none;
                height: $r-size;
                width: 100%;
                background: transparent;
            }
            .feather,
            i-feather {
                width: $r-iconsize;
                height: $r-iconsize;
                line-height: $r-iconlinh;
            }
        }
    }
}

// tool tip
.rm-mb, .rm-tab {
    tooltip {
        display: none !important;
    }
}