@import "../m-functions.scss";
@import "../m-variables.scss";

// mat-flat-button

.round-button {
    border-radius: em(50) !important;
}

.btn-dark-trns {
    background: rgba($black, 0.1) !important;
    color: $grey-100 !important;
}

@each $r-name, $r-size, $r-padding, $r-fontsize, $r-iconsize,
    $r-iconlinh in $all-sizes
{
    .mat-button,
    .mat-stroked-button,
    .mat-flat-button {
        &.mat-btn-#{$r-name} {
            line-height: $r-size;
            padding: 0 $r-padding;
            font-size: $r-fontsize;
            border-radius: calc(#{$r-size} / 4);
            font-weight: $fw-m;

            .feather,
            i-feather {
                width: $r-iconsize;
                height: $r-iconsize;
                line-height: $r-iconlinh !important;
            }
        }
    }
    .mat-fab,
    .mat-icon-button {
        &.mat-btn-#{$r-name} {
            width: $r-size;
            height: $r-size;
            border-radius: calc(#{$r-size} / 3);
            line-height: $r-size !important;
            padding: 0 !important;
            display: grid;
            align-items: center;
            justify-content: center;

            .mat-button-wrapper {
                padding: 0;
                line-height: 100% !important;
            }

            .feather,
            i-feather {
                width: $r-iconsize;
                line-height: 100% !important;
            }
        }
    }

    .btn-ic-24 {
        .feather,
        i-feather {
            width: 24px !important;
        }
    }
    .btn-ic-20 {
        .feather,
        i-feather {
            width: 20px !important;
        }
    }
    .circle-#{$r-name} {
        width: $r-size;
        height: $r-size;
        border-radius: 100px;

        .feather,
        i-feather {
            width: $r-iconsize;
            height: $r-iconsize;
            line-height: calc(#{$r-iconsize} + 4px) !important;
        }
    }
}

.circle-xss {
    width: 20px;
    height: 20px;
    border-radius: 100px;
}

.rounded-btn-sm {
    min-width: 50px !important;
    padding: 0 14px !important;
    line-height: 34px !important;

    .mat-icon {
        margin-top: -2px;
    }
}

.rounded-btn-xs {
    min-width: 48px !important;
    padding: 0 12px !important;
    line-height: 28px !important;

    .mat-icon {
        margin-top: -2px;
        font-size: 18px;
        height: 18px;
        width: 18px;
    }
}

.half-btn-sm {
    border-radius: 0 50px 50px 0 !important;
    min-width: 28px !important;
    padding: 0 8px 0 2px !important;
    width: 28px;
}

// btn disabled

.mat-black.mat-button-disabled {
    background-color: #000 !important;
    opacity: 0.5;
    color: #fff !important;
}