@import '../m-functions.scss';
@import '../m-variables.scss';


// radio btn
.mat-radio-sm {
    .mat-radio-outer-circle {
        width: 16px !important;
        height: 16px !important;
    }  
    .mat-radio-container {
        width: 18px !important;
        height: 18px !important;
    } 
    .mat-radio-inner-circle {
        width: 14px !important;
        height: 14px !important;
        left: 1px;
        top: 1px;
    }
    .mat-radio-label-content {
        font-size: 14px;
    }

}

.green-radioinput {
    .mat-radio-button.mat-accent .mat-radio-inner-circle {
        background-color: $green !important;
    }  
    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: $green !important;
    } 
    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
        border-color: $green !important;
    }
}

// input

.mat-form-field-sm.mat-form-field {
    font-size: 12.5px !important;
}
.mat-form-field-md.mat-form-field {
    font-size: 14px !important;
}

.mat-form-field-lg.mat-form-field {
    font-size: 16px !important;
}

.mat-form-field-label {
    color: $grey-600 !important;
}


// ddynamic-material-input

dynamic-material-input,dynamic-material-select,dynamic-material-textarea {
    width: 100%;
    mat-form-field {
        width: 100% !important;
        font-size: 14px !important;
    }
}

.no-padding-formfield {
    .mat-form-field-wrapper {
        padding-bottom: 5px !important;
    }
}

.invisible-input {
    border: none;
    background: transparent;
}

.uploadfile-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 220px;
    align-items: center;
}

.c-uploadfile-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    width: 100%;
    align-items: center;
    height: 100%;
    &:nth-child(1) {
        align-self: center;
    }
    &:nth-child(2) {
        align-self: end;
    }
}