@import '../m-functions.scss';
@import '../m-variables.scss';

// mat-flat-button

@each $label-name, $label-size, $font-size in $common-sizes {
    .label-circle-#{$label-name} {
        width: $label-size !important;
        height: $label-size !important;
        line-height: $label-size !important;
        border-radius: 50px;
        text-align: center;
        font-size: $font-size;
  }
}

.label-circle-sm-text {
  line-height: 18px !important;  
  font-weight: $fw-b !important;
  font-size: 12px !important;
}

.input-style {
    border:1px solid $grey-300!important;
    padding: 4px 8px !important;
    border-radius: 4px !important;
    font-size: 14px !important;
}

.table-style-attendee-list {
    th,td {
      padding: 4px 8px !important;
    }
}