@import '../m-functions.scss';
@import '../m-variables.scss';

.table-style-v1 {
    border: 1px solid var(--gray-100);
    td,th{
        vertical-align: middle;
        font-size: rem(15);
        color: $grey-700;
    }
}

.th-100 {
  width: 100px;
}

.th-60 {
  width: 60px;
}

app-contacts-grid-action {
    width: 100%;
}

.table {
    display: table;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
    border-collapse: separate;
}
  
  .table_row {
    display: table-row;
  }
  
  .theader {
    display: table-row;
  }
  
  .table_header {
    display: table-cell;
    border-bottom: #ccc 1px solid;
    border-top: #ccc 1px solid;
    background: $grey-200;
    color: $grey-700;
    padding: 10px 10px;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
  }
  
  .table_header:first-child {
    border-left: #ccc 1px solid;
  }
  
  .table_header:last-child {
    border-right: #ccc 1px solid;
  }
  
  .table_small {
    display: table-cell;
  }
  
  .table_row > .table_small > .table_cell:nth-child(odd) {
    display: none;
    background: $grey-100;
    color: $grey-800;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .table_row > .table_small > .table_cell {
    padding: 15px 10px;
    color: $grey-700;
    font-size: 14px;
    text-align: left;
    // border-bottom: #ccc 1px solid;
  }
  .table_row > .table_small:first-child > .table_cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
  }
  .tittle-header {
    width: 150px;
  }
  // .table_row > .table_small:first-child > .table_cell {
  //   border-left: #ccc 1px solid;
  // }
  
  // .table_row > .table_small:last-child > .table_cell {
  //   border-right: #ccc 1px solid;
  // }
  
  .table_row:last-child > .table_small:last-child > .table_cell:last-child {
    border-bottom-right-radius: 5px;
  }
  
  .table_row:last-child > .table_small:first-child > .table_cell:last-child {
    border-bottom-left-radius: 5px;
  }
  
  .table_row:nth-child(2n+3) {
    background: $grey-100;
  }
  
  @media screen and (max-width: 900px) {
    .table {
      width: 90%
    }
  }
  
  @media screen and (max-width: 980px) {
    .tittle-header {
        width: auto;
    }
    .table {
      display: block;
    }
    .table_row:nth-child(2n+3) {
      background: none;
    }
    .theader {
      display: none;
    }
    .table_row > .table_small > .table_cell:nth-child(odd) {
      display: table-cell;
      width: 50%;
    }
    .table_cell {
      display: table-cell;
      width: 50%;
    }
    .table_row {
      display: table;
      width: 100%;
      border-collapse: separate;
      padding-bottom: 20px;
      margin: 5% auto 0;
      text-align: center;
    }
    .table_small {
      display: table-row;
    }
    .table_row > .table_small:first-child > .table_cell:last-child {
      border-left: none;
    }
    .table_row > .table_small > .table_cell:first-child {
      border-left: #ccc 1px solid;
    }
    .table_row > .table_small:first-child > .table_cell:first-child {
      border-top-left-radius: 5px;
      border-top: #ccc 1px solid;
    }
    .table_row > .table_small:first-child > .table_cell:last-child {
      border-top-right-radius: 5px;
      border-top: #ccc 1px solid;
    }
    .table_row > .table_small:last-child > .table_cell:first-child {
      border-right: none;
    }
    .table_row > .table_small > .table_cell:last-child {
      border-right: #ccc 1px solid;
    }
    .table_row > .table_small:last-child > .table_cell:first-child {
      border-bottom-left-radius: 5px;
    }
    .table_row > .table_small:last-child > .table_cell:last-child {
      border-bottom-right-radius: 5px;
    }
  }
