@import "../m-functions.scss";
@import "../m-variables.scss";

// mat-flat-button

// border

@each $border-color, $border-colors in $mcolor {
    .border-#{$border-color} {
        border: 1px solid $border-colors !important;
    }

    .border-top-#{$border-color} {
        border-top: 1px solid $border-colors !important;
    }

    .border-right-#{$border-color} {
        border-right: 1px solid $border-colors !important;
    }

    .border-bottom-#{$border-color} {
        border-bottom: 1px solid $border-colors !important;
    }

    .border-left-#{$border-color} {
        border-left: 1px solid $border-colors !important;
    }
}

// mat-icon

.mat-icon-sm {
    height: 16px !important;
    width: 16px !important;
    font-size: 16px !important;
}

// Modal

.mat-dialog-title {
    margin-bottom: 8px !important;
}

// chip

.chip {
    font-size: rem(13);
    color: $grey-700;
    border: 1px solid $grey-200;
    border-radius: 2px;
    padding: 3px 8px;
    margin-left: 8px;
}

@each $chip-name, $chip-size, $chip-fontsize in $common-sizes {
    .chip-#{$chip-name} {
        font-size: $chip-fontsize;
        padding: calc(#{$chip-fontsize}/ 3);
        border: 1px solid $grey-200 !important;
        border-radius: calc(#{$chip-fontsize}/ 3);
    }
}

// Dailog box

.mat-dialog-container {
    padding: 16px !important;
}

.mat-dialog-content {
    margin: 0 -16px !important;
    padding: 0 16px !important;

    &.no-gutter {
        padding: 0 !important;
    }
}

.mat-dialog-content-nopadding {
    margin: 0 !important;
    padding: 0 !important;
    max-height: initial !important;
}

.mat-dialog-actions {
    margin-bottom: -16px !important;
}

.add-dialog-right {
    width: 300px;
    max-width: 300px;
    border-left: 1px solid rgba($grey-800, 0.2);
}

.mr-dailog-height {
    height: calc(100% - 82px) !important;
}

// mat tab

.mat-tab-link-sm {
    padding: 0 4px !important;
    min-width: 0 !important;
    margin-right: 24px !important;
}

.mat-tab-icon {
    .mat-tab-label {
        min-width: 80px !important;
    }
}

// border
.top-separator-dashed {
    border-top: 1px dashed $grey-300;
}

// mat-tooltip
.mat-tooltip.tooltip {
    background-color: $grey-800 !important;
    font-size: 12px !important;
}

.mat-tooltip {
    font-size: 12px !important;
    background-color: $grey-800 !important;
    padding: 3px 8px !important;
    line-height: 16px !important;
}

.mat-tooltip-top {
    &.mat-tooltip {
        top: 5px !important;
    }
}

// grid
ag-grid-angular {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.ag-cell-center {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

// chip

.mat-chip.mat-standard-chip {
    background: $grey-200 !important;
}

// mat menu

.mat-menu-panel {
    min-height: 52px !important;
}

//  z-index

.z-index-99999 {
    z-index: 99999;
}

.z-index-1000 {
    z-index: 1000;
}

.z-index-9 {
    z-index: 9;
}

//  checkbox

.white-checkbox {
    .mat-checkbox-frame {
        border-color: #fff !important;
    }
}

// transform

.transition-5s {
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0, 0, 0.3, 1);
}

// link

.no-underline:hover {
    text-decoration: none;
}

// badge

.avatar-lg {
    .mat-badge-content {
        border: 1px solid #fff;
        top: -4px !important;
        right: -4px !important;
    }
}

// hover

.hover-container {
    .hidden-container {
        opacity: 0;
    }

    &:hover {
        .hidden-container {
            opacity: 1;
        }
    }
}
