<div class="filter-main-wrapper mx-auto d-grid gap-8" [ngClass]="{'filter-sub-container-active': specificContact}">
    <div class="f-contact-container">
        <div class="c-px-4 pt-2 filter-header">
            <button mat-icon-button class="mat-btn-sm" (click)="selectSpecific()">
                <i-feather name="chevron-left"></i-feather>
            </button>
            <h5 class="fw-m text-center">Filter</h5>
            <div class=""></div>
        </div>
        <div>
            <mat-tab-group mat-stretch-tabs class="text-tabs">
                <mat-tab label="Class">
                    <div class="feed-b-top pt-2 fcc-items">
                        <div class="c-px-4 ">
                            <div class="position-relative search-md bg-light">
                                <div class="fi-center">
                                    <i-feather name="search"></i-feather>
                                </div>
                                <input type="search" class="input-search" placeholder="Search">
                            </div>
                        </div>
                        <div class="pt-2 fcc-items-list c-pl-4">
                            <div class="fcc-item-single c-pr-4">
                                <div class="avatar-md"></div>
                                <div class="d-grid">
                                    <h6 class="fw-m f-15">BA12-First</h6>
                                    <span class="f-13 mt-n1">2019-2020</span>
                                </div>
                                <div>
                                    <mat-radio-button value="1"></mat-radio-button>
                                </div>
                            </div>
                            <div class="fcc-item-single c-pr-4">
                                <div class="avatar-md"></div>
                                <div class="d-grid">
                                    <h6 class="fw-m f-15">BA12-First</h6>
                                    <span class="f-13 mt-n1">2019-2020</span>
                                </div>
                                <div>
                                    <mat-radio-button value="1"></mat-radio-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Subject">
                    <div class="feed-b-top pt-2 fcc-items">
                        <div class="c-px-4 ">
                            <div class="position-relative search-md bg-light">
                                <div class="fi-center">
                                    <i-feather name="search"></i-feather>
                                </div>
                                <input type="search" class="input-search" placeholder="Search">
                            </div>
                        </div>
                        <div class="pt-2 fcc-items-list c-pl-4">
                            <div class="fcc-item-single c-pr-4">
                                <div class="avatar-md"></div>
                                <div class="d-grid align-items-center">
                                    <h6 class="fw-m f-15">English</h6>
                                </div>
                                <div>
                                    <mat-radio-button value="1"></mat-radio-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Modules">
                    <div class="feed-b-top pt-2 fcc-items">
                        <div class="c-px-4 ">
                            <div class="position-relative search-md bg-light">
                                <div class="fi-center">
                                    <i-feather name="search"></i-feather>
                                </div>
                                <input type="search" class="input-search" placeholder="Search">
                            </div>
                        </div>
                        <div class="pt-2 fcc-items-list c-pl-4">
                            <div class="fcc-item-single c-pr-4">
                                <div class="avatar-md"></div>
                                <div class="d-grid align-items-center">
                                    <h6 class="fw-m f-15">Drama</h6>
                                </div>
                                <div>
                                    <mat-radio-button value="1"></mat-radio-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Teachers">
                    <div class="feed-b-top pt-2 fcc-items">
                        <div class="c-px-4 ">
                            <div class="position-relative search-md bg-light">
                                <div class="fi-center">
                                    <i-feather name="search"></i-feather>
                                </div>
                                <input type="search" class="input-search" placeholder="Search">
                            </div>
                        </div>
                        <div class="pt-2 fcc-items-list c-pl-4">
                            <div class="fcc-item-single c-pr-4">
                                <div class="avatar-md"></div>
                                <div class="d-grid align-items-center">
                                    <h6 class="fw-m f-15">Manu</h6>
                                </div>
                                <div>
                                    <mat-radio-button value="1"></mat-radio-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="feed-b-top fcc-selected">
            <h6 class="f-15 gray-600 c-px-4 pt-2">Selected</h6>
            <div class="c-px-4 fcc-selected-items">
                <div class="badge sm rounded-pill badge-style-1 p-0 grid-col gap-4">
                    <div class="avatar-xs"></div>
                    <div class="f-14 pl-1">BA12</div>
                    <button mat-icon-button class="mat-btn-xs">
                        <i-feather name="x"></i-feather>
                    </button>
                </div>
            </div>
        </div>
        <div class="feed-b-top c-px-4 mt-3">
            <div class="d-grid fr-auto align-items-center pt-3">
                <a href="" class="text-decoration-underline gray-900 fw-m">Clear</a>
                <button mat-flat-button color="primary" class="mat-btn-md">
                    <span class="f-btn-text">Apply</span>
                </button>
            </div>
        </div>
    </div>
    <!-- end f-contact-container -->

    <div class="filter-outer-container">
        <div class="c-px-4 pt-2 filter-header">
            <div class=""></div>
            <h5 class="fw-m text-center">Filter Feeds</h5>
            <button mat-icon-button class="mat-btn-sm" (click)="onCancel()">
                <i-feather name="x"></i-feather>
            </button>
        </div>
        <div class="pt-3 d-grid gap-24 c-px-4">
            <div>
                <h6 class="fw-m">Feeds Content</h6>
                <div class="filter-items-col-two pt-3">
                    <div class="d-grid gap-8 align-content-start">
                        <mat-radio-button value="1">All</mat-radio-button>
                        <mat-radio-button value="1">Sessions</mat-radio-button>
                        <mat-radio-button value="1">Class</mat-radio-button>
                    </div>
                    <div class="d-grid gap-8 align-content-start">
                        <mat-radio-button value="1">Groups</mat-radio-button>
                        <mat-radio-button value="1">Broadcasted Messages</mat-radio-button>
                    </div>
                </div>
            </div>
            <!-- end feed content -->
            <div class="feed-b-top">
                <div class="filter-item-arrow pt-3">
                    <h6 class="fw-m" (click)="selectSpecific()">Filter by Class, Subject, Modules, Teachers</h6>
                    <button mat-icon-button class="mat-btn-md" (click)="selectSpecific()">
                        <i-feather name="chevron-right"></i-feather>
                    </button>
                </div>
                <div class="fcc-selected-items">
                    <div class="badge sm rounded-pill badge-style-1 p-0 grid-col gap-4">
                        <div class="avatar-xs"></div>
                        <div class="f-14 pl-1">BA12</div>
                        <button mat-icon-button class="mat-btn-xs">
                            <i-feather name="x"></i-feather>
                        </button>
                    </div>
                </div>
            </div>
            <!-- end Post By -->
            <div class="feed-b-top">
                <h6 class="fw-m pt-3">Feeds Type</h6>
                <div class="filter-items-col-two pt-3">
                    <div class="d-grid gap-8 align-item-start">
                        <mat-checkbox>Image</mat-checkbox>
                        <mat-checkbox>Document</mat-checkbox>
                    </div>
                    <div class="d-grid gap-8 align-item-start">
                        <mat-checkbox>Video</mat-checkbox>
                        <mat-checkbox>Audio</mat-checkbox>
                    </div>
                </div>
            </div>
            <!-- end feed type -->
            <div class="feed-b-top">
                <h6 class="fw-m pt-3">Date</h6>
                <div class="filter-items-col-two pt-3">
                    <div class="d-grid gap-8 align-item-start">
                        <mat-form-field class="mat-sm-input w-100 calendar-icon" appearance="outline">
                            <mat-label>
                                Date Range
                            </mat-label>
                            <input matInput placeholder="From" [matDatepicker]="dp" />
                            <mat-datepicker-toggle matSuffix [for]="dp">
                                <i-feather name="calendar" matDatepickerToggleIcon></i-feather>
                            </mat-datepicker-toggle>
                            <mat-datepicker #dp></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <!-- end date -->
        </div>

        <div class="feed-b-top c-px-4 mt-3">
            <div class="d-grid fr-auto align-items-center pt-3">
                <a href="" class="text-decoration-underline gray-900 fw-m">Clear</a>
                <button mat-flat-button color="primary" class="mat-btn-md">
                    <span class="f-btn-text">Apply</span>
                </button>
            </div>
        </div>
    </div>
</div>