<div class="fcp-container mx-auto d-grid gap-8" [ngClass]="{'specific-contact-active': specificContact}">

    <div class="f-contact-container">
        <div class="fr-auto d-grid c-px-4 pt-2 align-items-center">
            <h6 class="fw-m">Select Audience</h6>
            <button mat-icon-button class="mat-btn-sm" (click)="selectSpecific()">
                <i-feather name="x"></i-feather>
            </button>
        </div>
        <div>
            <mat-tab-group mat-stretch-tabs class="text-tabs">
                <mat-tab label="Contacts">
                    <div class="feed-b-top pt-2 fcc-items">
                        <div class="c-px-4 ">
                            <div class="position-relative search-md bg-light">
                                <div class="fi-center">
                                    <i-feather name="search"></i-feather>
                                </div>
                                <input type="search" class="input-search" placeholder="Search">
                            </div>
                        </div>
                        <div class="pt-2 fcc-items-list c-pl-4">
                            <div class="fcc-item-single c-pr-4">
                                <div class="avatar-md"></div>
                                <div class="d-grid">
                                    <h6 class="fw-m f-15">Manu Krishna</h6>
                                    <span class="f-13 mt-n1">manu@gmail.com</span>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"></mat-checkbox>
                                </div>
                            </div>
                            <div class="fcc-item-single c-pr-4">
                                <div class="avatar-md"></div>
                                <div class="d-grid">
                                    <h6 class="fw-m f-15">Manu Krishna</h6>
                                    <span class="f-13 mt-n1">manu@gmail.com</span>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"></mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Groups">  
                    <div class="feed-b-top pt-2 fcc-items">
                        <div class="c-px-4 ">
                            <div class="position-relative search-md bg-light">
                                <div class="fi-center">
                                    <i-feather name="search"></i-feather>
                                </div>
                                <input type="search" class="input-search" placeholder="Search">
                            </div>
                        </div>
                        <div class="pt-2 fcc-items-list c-pl-4">
                            <div class="fcc-item-single c-pr-4">
                                <div class="avatar-md"></div>
                                <div class="d-grid">
                                    <h6 class="fw-m f-15">Yoga</h6>
                                    <span class="f-13 mt-n1">20 Members</span>
                                </div>
                                <div>
                                    <mat-checkbox class="example-margin"></mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Class"> <div class="feed-b-top pt-2 fcc-items">
                    <div class="c-px-4 ">
                        <div class="position-relative search-md bg-light">
                            <div class="fi-center">
                                <i-feather name="search"></i-feather>
                            </div>
                            <input type="search" class="input-search" placeholder="Search">
                        </div>
                    </div>
                    <div class="pt-2 fcc-items-list c-pl-4">
                        <div class="fcc-item-single c-pr-4">
                            <div class="avatar-md"></div>
                            <div class="d-grid">
                                <h6 class="fw-m f-15">BA12-First</h6>
                                <span class="f-13 mt-n1">2019-2020</span>
                            </div>
                            <div>
                                <mat-checkbox class="example-margin"></mat-checkbox>
                            </div>
                        </div>
                        <div class="fcc-item-single c-pr-4">
                            <div class="avatar-md"></div>
                            <div class="d-grid">
                                <h6 class="fw-m f-15">BA12-First</h6>
                                <span class="f-13 mt-n1">2019-2020</span>
                            </div>
                            <div>
                                <mat-checkbox class="example-margin"></mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div> </mat-tab>
            </mat-tab-group>
        </div>
        <div class="feed-b-top fcc-selected">
            <h6 class="f-15 gray-600 c-px-4 pt-2">Friends Who Will See Your Post</h6>
            <div class="c-px-4 fcc-selected-items">
                <div class="badge sm rounded-pill badge-style-1 p-0 grid-col gap-4">
                    <div class="avatar-xs"></div>
                    <div class="f-14 pl-1">Manu</div>
                    <button mat-icon-button class="mat-btn-xs">
                        <i-feather name="x"></i-feather>
                    </button>
                </div>
            </div>
        </div>
        <div class="feed-b-top c-px-4 py-2 text-right">
            <button mat-flat-button color="primary" class="mat-btn-sm">
                <span class="f-btn-text">Save Changes</span>
            </button>
        </div>
    </div>
    <!-- end f-contact-container -->

    <div class="fr-auto d-grid align-items-center c-px-4 pt-2">
        <h6 class="fw-m">Create Post</h6>
        <button mat-icon-button class="mat-btn-sm" (click)="onCancel()">
            <i-feather name="x"></i-feather>
        </button>
    </div>
    <div class="g-col align-items-center justify-content-between c-px-4 feed-b-top pt-3">
        <div class="g-col gap-8 justify-content-start align-items-center">
            <div class="avatar-lg"></div>
            <div>
                <h6 class="fw-m">Manu Krishna</h6>
                <div class="pt-1 grid-col fh-dropdown align-items-center gap-8 justify-content-end">
                    <button mat-button color="gray-200" class="mat-btn-sm" [matMenuTriggerFor]="menu">
                        Share to Public
                        <i-feather name="chevron-down"></i-feather>
                    </button>
                    <mat-menu #menu="matMenu">
                        <div class="px-3 d-grid gap-8 py-3 fcp-dropdown-title">
                            <h6 class="fw-m">Who can see your post?</h6>
                            <p class="f-15 gray-600">Your post will show up in Feed, on your profile and in search results.</p>
                        </div>
                        <button mat-menu-item>
                            <div class="fcp-dropdown">
                                <span>
                                    <div class="circle-md bg-l-orange fi-center">
                                        <i-feather class="fi-center" name="globe"></i-feather>
                                    </div>
                                </span>
                                <span class="fw-m">Share to All</span>
                                <span>
                                    <i-feather class="feather-18 text-success" name="check"></i-feather>
                                </span>
                            </div>
                        </button>
                        <button mat-menu-item class="mt-2 mb-3" (click)="selectSpecific()">
                            <div class="fcp-dropdown">
                                <span>
                                    <div class="circle-md bg-l-orange fi-center">
                                        <i-feather class="fi-center" name="users"></i-feather>
                                    </div>
                                </span>
                                <span class="fw-m">Share to Specific</span>
                                <span>
                                    <i-feather class="feather-18" name="chevron-right"></i-feather>
                                </span>
                            </div>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>
        <div class="g-col align-items-center gap-2">
            <mat-button-toggle-group class="mat-button-toggle-group-fxs">
                <mat-button-toggle value="bold">Post</mat-button-toggle>
                <mat-button-toggle value="italic">Broadcast</mat-button-toggle>
            </mat-button-toggle-group>
            <div>
                <button mat-icon-button class="mat-btn-sm p-1">
                    <i-feather class="gray-600" name="info"></i-feather>
                </button>
            </div>
        </div>
    </div>
    <div class="fcp-textarea c-px-4">
        <textarea rows="6" placeholder="Post Your Thoughts"></textarea>
    </div>
    <div class="d-grid auto-fr c-px-4 py-3">
        <div class="g-col">
            <button mat-icon-button class="mat-btn-sm p-1">
                <i-feather class="text-primary" name="image"></i-feather>
            </button>
            <button mat-icon-button class="mat-btn-sm p-1">
                <i-feather class="text-primary" name="film"></i-feather>
            </button>
            <button mat-icon-button class="mat-btn-sm p-1">
                <i-feather class="text-primary" name="file-text"></i-feather>
            </button>
        </div>
        <div class="text-right">
            <button mat-flat-button color="primary" class="mat-btn-sm">
                Post
            </button>
        </div>
    </div>
</div>