@import "../base.scss";

.pop-chat-container {
    width: 100%;
    height: 70vh;
    border-radius: rem(5) rem(5) 0 0;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: $pc-header-height 0 0 0;
    z-index: 999;
}

.pop-chat-header {
    height: $pc-header-height;
    background: $grey-700;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.pop-chatting-area {
    height: $pc-bottom-height;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.chat-textarea-sm {
    height: $pc-bottom-height;
    width: 100%;
    border: 0;
    padding-top: 16px;
    line-height: 20px;
    font-size: 13px;
}

.chat-textarea {
    height: 42px;
    width: 100%;
    border: 0;
    padding-top: 10px;
    line-height: 20px;
    font-size: 15px;
    border: 1px solid #e9ecef;
    border-radius: 12px;
    padding-left: 8px;
    padding-right: 8px;
}

.pop-chatting-items {
    height: 100%;
    overflow: auto;
    background: #fff;
}

.message-content {
    box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.2);
    position: relative;
    word-wrap: break-word;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: -webkit-pre-wrap;
    word-break: break-word;
    white-space: normal;
    letter-spacing: 0.5px;
}

.message-content {
    padding: rem(8);
    font-size: rem(15);
    border-radius: 4px;
    margin-bottom: 4px;
    line-height: 20px;
    min-width: 50px;
}

.message-content-sm {
    padding: rem(8);
    font-size: rem(13);
    border-radius: 4px;
    margin-bottom: 4px;
    line-height: 18px;
    min-width: 50px;
}

.message-date-sm {
    text-align: center;
    font-size: 13px;
    padding: rem(8);
    width: 100%;
    font-weight: $fw-n;
    color: $grey-600;
}

.message-time-sm {
    font-size: 13px;
    padding: rem(12) 0 rem(2);
    color: $grey-600;
}

.message-sender-name {
    font-size: 13px;
    padding: rem(12) 0 rem(2);
    color: $grey-700;
}

.message-content-container-wrapper {
    width: 90%;
}

.message-content-container {
    width: 100%;
}

.incoming-message {
    .message-content-container-wrapper {
        justify-content: flex-start !important;
    }

    .message-content-container {
        align-items: flex-start !important;
    }

    .message-content {
        color: $grey-700;
        background: $grey-100;
    }

    .display-file-extension {
        background: darken($grey-400, 20%);
    }

    .display-file-icon {
        color: $blue !important;
    }
}

.message-content {
    color: var(--var-gray-900);
    background: #f7e2a9;

    a {
        color: var(--var-gray-900);
    }
}

.outgoing-message {
    justify-content: flex-end !important;

    .message-content-container-wrapper {
        justify-content: flex-end !important;
    }

    .message-content-container {
        align-items: flex-end !important;
    }

    .display-file-extension {
        background: var(--darken);
        color: var(--gray-300);
    }

    .outgoing-message-time {
        justify-content: flex-end;
    }
}

.system-message {
    justify-content: center !important;

    .message-content-container-wrapper {
        justify-content: center !important;
    }

    .message-content-container {
        align-items: center !important;
    }

    .message-content {
        color: $white;
        background: $blue;
    }

    .outgoing-message-time {
        justify-content: center;
    }
}

// preview image

.chat-preview-image-box {
    padding-top: 148px;
    position: relative;
    width: 248px;
    cursor: pointer;

    .icon-file-preview {
        width: 68px;
        height: 68px;
        line-height: 54px;

        .feather {
            width: 68px;
            height: 68px;
            line-height: 54px;
        }
    }
}

.chat-preview-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 140px;
    width: 100%;
    display: block;
    background: rgba(0, 0, 0, 0.2);
    border-radius: rem(6);

    .chat-attachment-preview-item-inner {
        padding: 0 !important;
    }
}

// popup chat

.pop-chat-container {
    .main-chat-bottom {
        padding-top: 8px !important;
        padding-left: 4px !important;
        padding-right: 4px !important;
    }

    .pop-chatting-area {
        height: 52px;
    }

    .chat-l-icons {
        width: 24px !important;
        height: 24px !important;
    }

    .main-chat-scroll {
        height: calc(100% - 52px);
    }

    .chat-container-width {
        width: 89% !important;
    }

    .chat-typing-area,
    .typing-area {
        border-radius: 0 !important;
        border-width: 1px 0 0 0 !important;
    }

    .chat-typing-area,
    .typing-area {
        width: 100% !important;
        background: #fff;
    }

    .align-messgae-sent-status {
        bottom: -4px !important;
        right: -14px !important;

        .mat-icon-message {
            font-size: 12px;
            width: 12px !important;
            height: 12px !important;
        }
    }

    .message-content-container-wrapper {
        width: 100% !important;
    }

    .main-chat-bottom,
    .questions-input-bottom {
        height: 52px !important;
    }

    .chat-textarea {
        height: 36px !important;
        padding-top: 8px;
        line-height: 18px;
        border-radius: 8px;
        font-size: 14px;
    }

    .message-content {
        padding: rem(8);
        font-size: rem(13);
        border-radius: 4px;
        margin-bottom: 4px;
        line-height: 18px;
        min-width: 50px;
    }

    .message-date {
        text-align: center;
        font-size: 13px;
        padding: rem(8);
        width: 100%;
        font-weight: $fw-n;
        color: $grey-600;
    }

    .message-time {
        font-size: 13px;
        padding: rem(12) 0 rem(2);
        color: $grey-600;
    }

    .mat-icon-button {
        width: 32px;
        height: 32px;
        line-height: 16px;
    }

    .mat-icon {
        height: 22px;
        width: 22px;
        line-height: 22px;
    }

    .mx-chat-btn-gutter {
        margin: 0 rem(4) !important;
    }

    .main-chat-bottom {
        position: relative !important;
    }

    .btn-chat-send {
        width: 34px !important;
        height: 34px !important;
        border-radius: 10px !important;

        .feather,
        .i-feather {
            width: 18px !important;
        }
    }
}

.max-mini-chat-display {
    height: 5vh;
    padding-top: 0px;
}

// emoji

.emoji-mart {
    position: absolute;
    bottom: 35px !important;
    left: 0px !important;
    width: 350px;
}

.pop-chat-container {
    .emoji-mart {
        width: 280px !important;
        bottom: 30px !important;
        left: -6px !important;
    }
}

.incoming-message .chat-preview-image {
    background: rgba(0, 0, 0, 0.2);
}

.pop-chat-container {
    .chat-preview-image {
        height: 82px;
    }

    .chat-preview-image-box {
        padding-top: 90px;
        width: 146px;
    }

    .chat-attachment-preview-item-inner {
        .icon-file-preview {
            width: 48px !important;
            height: 48px !important;
            font-size: 48px !important;
            line-height: 44px;

            .feather {
                width: 48px !important;
                height: 48px !important;
                font-size: 48px !important;
                line-height: 48px;
                stroke-width: 1.5;
            }
        }
    }

    .display-file-extension {
        top: 42px !important;
        left: 42px !important;
        font-size: rem(9) !important;
    }
}

.icon-sm-attach-file {
    font-size: 18px;
}

// question
