@import '../base.scss';

.input-search-icon {
    height: 32px;
    background: #fff;
    border:0;
    border-bottom: 1px solid $grey-300;
    color: #2c3945;
    font-size: 13px;
    width: 100%;
    padding-left: 36px;
}

.align-search-icon{
    position: absolute;
    top: 5px;
    left: 5px;
    color: $grey-600;
}