@import "../base.scss";

.list-items-container {
    height: 100%;
    overflow: auto;
}

.list-items-container-inner {
    height: 100%;
    overflow: auto;
}

.list-item {
    padding: rem(8) rem(16);
    cursor: pointer;
    &.active {
        background: rgba($red, 0.1);
    }
}

.list-details {
    flex: 1;
    justify-content: center;
    min-width: 0;
    padding: 0 0 0 rem(16);
}

.item-name {
    font-size: rem(14);
    color: $grey-700;
    margin: 0;
    font-weight: $fw-m;
}

.item-content {
    font-size: rem(13);
    color: $grey-600;
    margin: 0;
    padding-top: 2px;
}

.item-time {
    font-size: rem(13);
    color: $grey-600;
}

// search section

.list-header {
    padding-top: $mr-chat-top-padding;
    position: relative;
}

.list-header-normal {
    position: relative;
    padding-top: 40px;
}

.list-header-attendees {
    padding-top: $mr-attendees-top-padding;
    position: relative;
}

.mr-chat-scroll {
    height: calc(var(--vh) - (#{$mr-action-height} + #{$mr-chat-top-padding}));
}

.mr-attendees-scroll {
    //height: calc( 100vh - ( #{$mr-action-height}  + #{$mr-attendees-top-padding} ));
    height: calc(var(--vh) - 150px);
}

app-mute-all + .mr-attendees-scroll {
    //height: calc( 100vh - ( #{$mr-action-height}  + #{$mr-attendees-top-padding} ));
    height: calc(var(--vh) - 228px);
}

.mr-attendees-full-scroll {
    //height: calc( 100vh - ( #{$mr-action-height}  + #{$mr-attendees-top-padding} ));
    height: calc(var(--vh) - 106px);
}

.mr-askquestions-scroll {
    height: calc(var(--vh) - #{$mr-action-height});
    padding-bottom: $mr-chat-bottom-height;
}

// video list

.mr-individual-video-actions {
    position: absolute;
    top: 110px;
    right: 16px;
    z-index: 999;
}

.mr-video-list-container {
    height: calc(
        var(--vh) - (var(--mr-action-height) + var(--mr-top-head-height))
    );
    width: 180px;
    position: absolute;
    padding-right: 0;
    z-index: 999;
    top: var(--mr-top-head-height);
}

.video-cover-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
    &:after {
        content: "";
        padding-bottom: 56.25%;
        display: block;
    }
    .video-display {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 100%;
        min-height: 100%;
        transform: translateX(-50%) translateY(-50%);
    }
}

.mr-video-list-container-slide-btn {
    position: absolute !important;
    top: 50%;
    right: -28px !important;
    margin-top: -18px !important;
    border: none;
    .mat-icon {
        position: relative;
        top: 3px;
        left: -2px;
    }
}

.meeting-video-list-disable {
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
}

.mvl-muted-avatar {
    z-index: 99;
}

.mr-video-list-container {
    .ps {
        display: grid;
        align-items: center;
    }
}



