@import "../base.scss";

.main-menu {
    li {
        &.add {
            display: none !important;
        }
    }
}

@media (max-width: 991.98px) {
    .mat-dialog-content {
        margin: 0 -16px !important;
        padding: 0 16px !important;
    }

    app-take-screenshot {
        display: none;
    }

    .header-left {
        .dashboard-screenshot {
            display: none;
        }

        .mat-form-field-infix {
            width: 80px !important;
        }
    }

    .main-header {
        padding: 6px 16px !important;
    }

    .roombr-logo {
        margin-top: 0;
    }

    .left-side {
        width: 100vw !important;
        transform: translate3d(-100vw, 0, 0) !important;
    }

    .btn-create {
        width: 0 !important;
    }

    .chat-main-search {
        display: none;
    }

    .create-meeting-container {
        width: 100% !important;
        padding: 0 rem(16);
        padding-right: rem(16) !important;
    }

    .cm-time-container {
        .mat-form-field-md {
            display: block;
        }
    }

    .cm-right-container {
        padding: 0 rem(8);
        box-shadow: -1px 25px 30px 0px rgba(0, 0, 0, 0.75) !important;
        right: 0;
        margin: 0 !important;
        transform: translate3d(350px, 0, 0);
        width: 280px !important;
    }

    .cm-right-container-active {
        margin: 0 !important;
        transform: translate3d(16px, 0, 0);
    }

    .w-meeting-hrs-min {
        display: block !important;
        width: 100% !important;
    }

    .add-dialog-right {
        width: 150px;
        max-width: 150px;
        border-left: 1px solid rgba(52, 58, 64, 0.2);
    }

    .md-btn-align {
        top: 10px !important;
        right: 3px !important;
    }

    .w-480 {
        width: 100% !important;
    }

    // meeting room

    .mr-attendees-scroll {
        height: calc(var(--vh) - 140px) !important;
    }

    .mr-attendees-full-scroll {
        height: calc(var(--vh) - 90px) !important;
    }

    app-mute-all + .mr-attendees-scroll {
        height: calc(var(--vh) - 218px) !important;
    }

    .mr-right {
        width: 280px !important;
        max-width: 280px !important;
        flex: 0 0 280px !important;
    }

    .cdk-overlay-pane {
        max-width: 95vw !important;
    }

    .browser-support-icon {
        width: 86px !important;
        font-size: 86px !important;
    }
}
