@import "../base.scss";

// dashboard header

.dashboard-header {
    &:hover {
        .upload-banner-img {
            display: block;
        }
    }
}

// ag grid

.ag-grid-height {
    height: 100%;
}

.ag-cell-focus,
.ag-cell-no-focus {
    border-color: transparent !important;
}

/* This CSS is to not apply the border for the column having 'no-border' class */
.no-border.ag-cell:focus {
    border-color: transparent !important;
    outline: none;
}

.ag-theme-material {
    font-size: 14px;
    font-family: inherit;
    color: $grey-700;
}

// avatar

.avatar-container {
    img {
        display: block;
    }
}

// .align-user-right-area

.align-user-right-area {
    margin-top: -38px;
    z-index: 99;
    position: relative;
    transform: translateX(100%);
    width: 50%;
    right: 28px;
}

// meeting deatail page

.modal-meeting-detail {
    mat-dialog-container {
        overflow: initial !important;
        position: relative;
    }
}

// mat-password-strength-info

.password-strength-info-md {
    .info-row {
        .mat-icon {
            width: 22px !important;
            height: 22px !important;
            line-height: 22px !important;
        }

        span {
            font-size: rem(14);
        }

        padding-bottom: rem(16);
    }
}

// header

.dashboard-screenshot {
    .btn-grey-700 {
        background: $grey-100 !important;
        color: $grey-700 !important;
    }
}

// chat

.list-details {
    .chat-list-status {
        border: 0 !important;
        font-size: 14px;
        padding: 0 !important;
        margin: 0 !important;
    }
}

// content stream

.content-stream-btn-container {
    margin-top: -25px;
}

// Grid

.mr-video-list-container-item {
    background: $grey-900;
}

.video-grid-container {
    width: 100%;
    background: $grey-900;
    z-index: 999;

    .mr-video-list-container-slide-btn {
        display: none;
    }

    .video-cover-wrapper:after {
        padding-bottom: 0;
    }

    .mr-video-list-container-item {
        border: none;
    }

    app-attendee-video {
        height: 100%;
        display: block;
    }

    .video-cover-wrapper {
        height: 100%;
    }

    .content-stream-btn-container {
        margin-top: 0;
    }
}

.video-action-audio-video {
    display: flex;
}

.mr-individual-video-actions {
    border-radius: 4px;

    .mat-icon-button {
        line-height: 36px;
        height: 36px;
    }

    .btn-screenshot {
        padding: 0 8px !important;
        min-width: auto !important;
        line-height: 36px !important;

        .mat-icon {
            font-size: 22px;
            margin-top: 0 !important;
            line-height: 22px;
        }
    }
}

.main-video-action-audio-video-container {
    position: absolute;
    right: 16px;
    top: 143px;
    z-index: 99;
    border-radius: 0 0 4px 4px;

    .mat-icon {
        font-size: 22px;
        margin-top: 0 !important;
        line-height: 22px;
    }

    .mat-icon-button {
        line-height: 36px;
        height: 36px;
    }
}


// content stream

.menuClosed {
    .list-details {
        display: none;
    }
    .avatar-lg {
        margin-left: auto !important;
    }
    .list-header {
        padding-top: 0;
    }
    .list-search-item {
        display: none;
    }
    .list-chat-chat-container {
        height: calc(var(--vh) - 64px) !important;
    }
    app-video-call {
        width: 100vw;
        height: var(--vh);
        left: 0;
        top: 0;
        transform: translate3d(288px, -64px, 0);
    }
}
// gallery thumb

.gallery-thumb-container {
    width: 62px;
    height: 62px;
    padding: 2px;
    border-radius: 8px;
    position: relative;
    background: var(--gray-100);
}

.gallery-thumb-container-img-preview{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-thumb-container {
    app-file-preview {
        div {
            position: relative;
            width: 100%;
            height: 100%;
            line-height: 24px;
        }
    }
    .chat-attachment-preview-item-inner {
        padding: 0 !important;
    }
}

// mat slider

.custom-volume-slider {
    .mat-slider-vertical {
        width: 36px !important;
        left: 18px !important;
    }
    .mat-slider-vertical .mat-slider-wrapper {
        width: 2px;
        top: 18px;
        bottom: 18px;
        left: 17px;
    }
}

// meeting

.ext-btn-blink {
    .countdown-width {
        background: rgba($red, 0.8);
        font-weight: $fw-b;
        box-shadow: 0 0 0 rgba($red, 0.8);
        animation: pulse 2s infinite;
    }
    .blink_me {
        animation: blinker 1s linear infinite;
    }
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba($red, 0.8);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba($red, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba($red, 0);
    }
}
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba($red, 0.8);
    }
    70% {
        box-shadow: 0 0 0 10px rgba($red, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba($red, 0);
    }
}

// stepper

.stepper-header {
    .mat-horizontal-stepper-header-container {
        width: 300px !important;
        margin: 0 auto;
    }
    .mat-input-element:disabled {
        color: $grey-900 !important;
    }
}

.file-upload {
    .mat-form-field-wrapper {
        padding: 0 !important;
    }
    .mat-form-field-infix {
        padding: 0 !important;
    }
}

// tab

.tab-custom-v1 {
    .mat-tab-header {
        border-bottom: none !important;
    }
    .mat-tab-label {
        padding: 0 16px !important;
        min-width: 100px !important;
    }
}

// button-toggle

.button-toggle-noborder {
    border: none !important;
    .mat-button-toggle-checked {
        background: transparent !important;
        color: $blue !important;
        border: 0 !important;
    }
    .mat-button-toggle + .mat-button-toggle {
        border: none !important;
    }
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 24px !important;
        padding: 0 10px 0 10px !important;
    }
    .mat-button-toggle-focus-overlay {
        background: transparent !important;
    }
}

// voice indication

.soundwave {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    .dot {
        display: inline-block;
        width: 4px;
        height: 4px;
        margin-right: 2px;
        background: #adb5bd;
        border-radius: 25px;
    }
    &.animate-dots {
        .dot {
            height: 4px;
            animation: wave 1.1s linear infinite;
            background: var(--bs-primary);
            border-radius: 40px;
            &:nth-child(2) {
                animation-delay: -0.9s;
                height: 10px;
            }
            &:nth-child(3) {
                animation-delay: -0.7s;
                height: 8px;
            }
        }
    }
}

@keyframes wave {
    0%,
    60%,
    100% {
        transform: initial;
    }

    30% {
        transform: translateY(-4px);
    }
}

.mr-logo {
    img {
        width: 100%;
        background-size: fill;
        height: 100%;
        object-fit: fill;
    }
}

// audio


.video-grid-container {
    .mr-video-list-container-item {
        .audio-level {
            top: 22px;
            right: 24px;
        }
    }
}

// 

.ag-theme-material .ag-checkbox-input-wrapper.ag-checked::after {
    color: var(--bs-primary) !important;
}

.rm-table {
    .ag-theme-material {
        font-size: 16px !important;
        color: var(--gray-900);
    }
    .ag-root-wrapper.ag-layout-normal {
        border-radius: 8px;
    }
    .ag-header-row {
        font-size: 15px !important;
    }
}
