:root {
    --header_height: 72px;
    --vh-100: calc(100 * var(--vheight));
    --vh: var(--vh-100);
    --vh50: calc(var(--vh-100) / 2);
    --vh33: calc(var(--vh-100) / 3);
    --vh25: calc(var(--vh-100) / 4);
    --vh20: calc(var(--vh-100) / 5);
    --mr-action-height: 58px;
    --mr-top-head-height: 48px;
    --primary-200: #fff3e0;
    --danger-200: #070606;
    --danger-300: #f5cccb;
    --primary-200-rgb: 255,243,224;
    --vh-uc-100: var(--vh-100);
    --uc-padding: 1.5rem;
    --darken: #131416;
    --main-header : 62px;
    --user-sub-head: 140px;
    --main-bottom : 62px;
    --height-inner: calc( var(--vh-100) - calc(var(--main-header)));
    --height-session-inner: calc( var(--vh-100) - calc(var(--main-header) + var(--space-md)));
    --uc-tab-height: calc( var(--vh-100) - calc( var(--main-header) + var(--user-sub-head)));
    --tab-height: 48px;
    --rounded-sm: 8px;
    --base-unit: .25rem;
}

:root {
    .rm-mb, .rm-tab {
        --tab-height: 42px;
        --main-header : 56px;
        --main-bottom : 56px; 
        --height-session-inner: calc( var(--vh-100) - var(--main-bottom));
        --height-inner: calc( var(--vh-100) - calc( var(--main-header) + var(--main-bottom) + var(--space-md)));
        --uc-tab-height: calc( var(--vh-100) - calc( var(--main-header) + var(--main-bottom) + var(--user-sub-head)));
    }
}
