@import '~@angular/material/theming';
@import 'm-variables.scss';
@import 'm-functions.scss';
@import '../styles/_root.scss';

@include mat-core();

@import 'angular-material/am-button.scss';
@import 'angular-material/am-label.scss';
@import 'angular-material/am-form.scss';
@import 'angular-material/am-utilities.scss';
@import 'angular-material/am-test.scss';
@import 'angular-material/am-table.scss';

$rmbr-color: (
primary : #f8a519,
200 : #fcb040,
300 : #EF5350,
contrast: (
    primary : #1B1C1D,
    200 : #1B1C1D,
    300 : #FFFFFF, 
)
);



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$my-app-primary: mat-palette($rmbr-color, primary); 
$my-app-accent:  mat-palette($rmbr-color, 200);

// The warn palette is optional (defaults to red).
$my-app-warn:    mat-palette($rmbr-color, 300);

// Create the theme object (a Sass map containing all of the palettes).
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include angular-material-theme($my-app-theme);

$custom-typography: mat-typography-config(
  $font-family: 'Kulim Park, sans-serif',
);

@include angular-material-typography($custom-typography);

@mixin mat-ripple-theme($theme) {
  .mat-ripple-element {
    background-color: rgba(254, 239, 196, 0.6);
  }
}

@include mat-slider-theme(map_merge($my-app-theme, (
    foreground: (
        base: #848484,
        slider-min: white,
        slider-off: #bebebe,
        slider-off-active: #bebebe,
    ),
)));

@import "c-material.scss";