:focus {
    outline: none;
}
button:focus {
    outline: none;
}

:root {
    // Custom variable values only support SassScript inside `#{}`.
    @each $color, $value in $grays {
      --gray-#{$color}: #{$value};
    }
  }

  @each $color, $value in $grays {
    .gray-#{$color} {
        color: #{$value}; ;
    }
  }

  .feather {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }

.feather-fill-white {
    height: 24px;
    fill: #fff;
    width: 24px;
}

.feather-fill-gray-900 {
  height: 24px;
  fill: var(--gray-900);
  width: 24px;
}

// header

.h1,.h2,.h3,.h4,.h5,.h6 {
  font-weight: 400 !important;
}
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1{
  margin-bottom: 0;
}