.mat-form-field-appearance-outline .mat-form-field-outline {
    color: var(--gray-300);
}
/* Font color */
input.mat-input-element {
    color: var(--gray-800);
}

// input

.mat-form-100 {
    width: 100%;
    .mat-form-field-infix {
        width: inherit !important;
    }
}

.mat-sm-input {
    .mat-form-field-infix {
        padding: 6px 0 9px 0 !important;
        font-size: 15px !important;
    }
    input.mat-input-element {
        margin-top: -10px !important;
    }
    .mat-form-field-label-wrapper {
        top: -14px !important;
        padding-top: 14px !important;
    }
    .mat-select-arrow-wrapper {
        transform: translateY(0px) !important;
    }
    .mat-form-field-label {
        top: 1.4em;
        margin-top: -0.15em;
    }
    &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
        .mat-form-field-label,
    &.mat-form-field-appearance-outline.mat-form-field-can-float
        .mat-input-server:focus
        + .mat-form-field-label-wrapper
        .mat-form-field-label {
            transform: translateY(-19px) scale(0.80);
            width: 133.3333333333%;
    }
}
.mat-md-input {
    .mat-form-field-infix {
        padding: 0.3em 0 1em 0;
        font-size: 16px;
    }
    .mat-form-field-label {
        top: 1.64375em;
        margin-top: -0.25em;
    }
    &.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
        .mat-form-field-label,
    &.mat-form-field-appearance-outline.mat-form-field-can-float
        .mat-input-server:focus
        + .mat-form-field-label-wrapper
        .mat-form-field-label {
        transform: translateY(-1.49375em) scale(0.75);
        width: 133.3333333333%;
    }
    .mat-form-field-label-wrapper {
        top: -1em;
        padding-top: 1em;
    }
}

.mat-xs-input.mat-form-field {
    font-size: 14px !important;
}

.mat-form-field-invalid {
    .mat-form-field-wrapper {
        padding-bottom: 1.34375em;
    }
}

.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: -1px !important;
}

.mat-form-field-wrapper {
    padding-bottom: 0!important;
}

.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    padding: 0 !important;
}

.mat-form-field-subscript-wrapper {
    position:relative!important;
    margin-top: 4px !important;
    font-size: 13px !important;
}                                                                   

.calendar-icon {
    .mat-form-field-suffix {
        top: -3px !important;
        right: -11px!important;
    }
    .mat-button-wrapper {
        height: 100% !important;
        line-height: 16px!important;
    }
}

.mat-select-panel .mat-option.mat-selected:not(.mat-option-multiple) {
    background: var(--primary-200) !important;
}
// button

.mat-button .mat-button-focus-overlay, .mat-icon-button .mat-button-focus-overlay {
   opacity: 0 !important; 
}


.mat-button-toggle {
    background-color: var(--white);
    color: var(--bs-primary);
}

.mat-button-toggle-checked {
    background-color: var(--bs-primary);
    color: var(--gray-800);
}
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
    border-radius: 6px !important;
    border-color: var(--bs-primary);
}
.mat-button-toggle-group-appearance-standard .mat-button-toggle + .mat-button-toggle {
    border-color: var(--bs-primary) !important;
}

.mat-button-toggle-group-md {
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 36px;
        font-size: 15px;
    }
}

mat-button-toggle-group {
    .mat-button-toggle {
        &:last-child {
            margin-right: -1px;  
        }
    }
}

.button-toggle-fill {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
}

//   mat menu
.dark-menu {
    &.mat-menu-panel {
        background: var(--gray-900);
    }
    .mat-menu-item {
        color: var(--gray-300);
    }
}

.mat-menu-item {
    font-size: 16px !important;
    line-height: 42px !important;
    height: 42px !important;
}

.icon-wrap {
    width: 42px;
    height: 42px;
    padding-right: 8px;
    display: inline-block;
}

.mat-menu-w-md {
    width: 220px;
}

.mat-menu-md {
    .mat-menu-item {
        font-size: 14px !important;
        line-height: 36px !important;
        height: 36px !important;
        display: flex;
    }
    .icon-wrap {
        width: 36px;
        height: 36px;
        padding-right: 8px;
        display: grid;
        align-items: center;
    }
    .btn-icon-wrap {
        display: grid;
        grid-auto-flow: column;
        justify-content: start;
        .icon-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        i-feather {
            display: flex;
            height: 20px;
            width: 20px;
        }
    }
    .feather,i-feather {
        width: 20px;
        height: 20px;
        display: grid;
    }
}

.mat-menu-item-no-height {
    font-size: 14px !important;
    line-height: 36px !important;
    height: auto !important;

    .icon-wrap {
        width: 36px;
        height: 36px;
        margin-right: 8px;
    }
}

.share-menu-width {
    max-width: 300px !important;
    min-width: 300px !important;
}
// .mat-select-panel-wrap{
//     position: relative;
//     top: 26px;
// }

// .mat-select-panel-wrap .mat-select-panel{
//     min-width: calc(100% + 22px) !important;
//     transform: translateX(2%) !important;
//     left: -50%;
// }
// tab

.mat-ink-bar {
    height: 3px;
    border-radius: 5px;
}

.icon-tabs {
    .mat-tab-labels {
        display: grid !important;
        grid-template-columns: 48px 48px 48px;
        grid-gap: 32px;
    }
    .mat-tab-label-container {
        padding: 0 16px;
    }
}

.rm-right-container {
    .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
        display: none !important;
    }
    .mat-tab-list {
        transform: translateX(0) !important;
    }
}

.mat-tab-label {
    padding: 0 4px !important;
    min-width: auto !important;
    opacity: 1 !important;
}

.mat-tab-header {
    border-bottom: none !important;
}

.mat-tab-label-active {
    .mat-tab-label-content {
        color: var(--bs-primary);
    }
}

.text-tabs {
    .mat-tab-labels {
        display: grid !important;
        grid-gap: 16px;
        grid-auto-flow: column;
        justify-content: start;
    }
    .mat-tab-label,
    .mat-tab-link {
        font-size: 16px;
        font-weight: $fw-n;
        color: var(--gray-600);
    }
}

.rm-mb, .rm-tab {
    .mat-tab-label,
    .mat-tab-link {
        font-size: 16px;
        font-weight: $fw-m;
        color: var(--gray-600);
    }
    .mat-tab-label {
        height: var(--tab-height);
    }
    .many-tabs {
        .mat-tab-labels {
            grid-auto-columns: inherit !important;
            justify-content: inherit !important;
            display: flex !important;
            grid-gap: 6px !important;
            grid-auto-flow: inherit !important;
        }
        .mat-tab-label {
            min-width: 90px !important;
        }
    } 
}

.text-tabs-md {
    .mat-tab-label {
        height: 36px;
    }
    .mat-tab-label .mat-tab-label-content {
        padding-top: 0px;
    }  
    .mat-tab-labels {
        justify-content: center;
        display: grid !important;
        grid-gap: 16px;
        grid-auto-flow: column;
    }
    .mat-tab-label,
    .mat-tab-link {
        font-size: 16px;
        font-weight: $fw-n;
        color: var(--gray-600);
    } 
}

// btn color

.mat-black {
    background: #000;
    color: var(--gray-200);
}

.mat-darken {
    background: var(--darken);
    color: var(--gray-300);
}

.mat-gray-900 {
    background: var(--gray-900);
    color: var(--gray-200);
}

.mat-gray-700 {
    background: var(--gray-700);
    color: var(--gray-300);
}

.mat-gray-500 {
    background: var(--gray-500);
    color: var(--gray-700);
}

.mat-gray-300 {
    background: var(--gray-300);
    color: var(--gray-700);
}

.mat-gray-200 {
    background: var(--gray-200);
    color: var(--gray-700);
}

.mat-gray-100 {
    background: var(--gray-100);
    color: var(--gray-700);
}

.mat-trans {
    background: transparent;
    color: var(--gray-700);
}

.mat-trans-primary {
    background: transparent;
    color: var(--bs-primary);
}

.mat-danger-200{
    background: var(--danger-200);
    color: var(--bs-red);
}

.mat-danger-300{
    background: var(--danger-300);
    color: var(--bs-red);
}

.mat-stroked-button:not(.mat-button-disabled) {
    border-color:inherit !important;
}

.mat-content {
    flex: inherit !important;
}

.mat-expansion-panel {
    box-shadow: none !important;
}

.mat-expansion-panel-body {
    padding: 0 !important;
}

.mat-expansion-panel-header.mat-expanded {
    height: 36px;
}

.mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: transparent;
}

.mat-expansion-panel-header {
    height: 36px;
}

.mat-expansion-indicator::after {
    position: relative;
    top: -3px;
}

// .mat-tab-label .mat-tab-label-content {
//     padding-top: 12px;
// }

.mat-badge-medium .mat-badge-content {
    font-style: normal;
}

.mat-slide-toggle-bar {
    position: relative;
    width: 36px;
    height: 22px;
    flex-shrink: 0;
    border-radius: 14px;
}

.mat-slide-toggle-thumb-container {
    position: absolute;
    z-index: 1;
    width: 20px;
    height: 20px;
    top: 1px;
    left: 0;
    transform: translate3d(0, 0, 0);
    transition: all 80ms linear;
    transition-property: transform;
}

.mat-expansion-panel-spacing {
    margin: 0 !important;
}
// mat group

.radio-btn-wrap {
    .mat-radio-label {
        white-space: initial;
    }
}

.mat-tab-sessions {
    .mat-tab-body-content {
        // grid-template-rows: auto 1fr;
        width: 100%;
        height: calc( var(--height-session-inner) - var(--tab-height));
        display: grid;
    }
}

.mat-tab-sessions-list {
    .mat-tab-body-content {
        grid-template-rows: inherit;
        width: 100%;
        // height: calc( var(--vh-100) - ( var(----header_height) + 48px)) !important;
        height: 100% !important;
    }
}

// modal

.modal-intermediatescreen {
    .mat-dialog-container {
        overflow: inherit !important;
    }
}

@media (max-width: 767.98px) { 
    .modal-add-attendees {
        .dialog-height {
            max-height: 95vh !important;
        }
    }   
 }

 .class-add-user-dailog-height {
    .mat-tab-body-wrapper {
        height: 100% !important;
    }
}
// table

mat-row, mat-header-row, mat-footer-row, th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border-bottom-color: var(--gray-100) !important;
}

// error

.mat-error {
   line-height: 18px;
}

.normal-user-profile {
    .mat-tab-header {
        display: none !important;
    }
}

.mat-btn-toggle-group {
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 36px !important;
        font-size: 15px !important; 
    }
}

.pricing-features-table {
    .mat-expansion-panel-header {
        padding: 0 16px;
        font-size: 18px;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 16px;
        height: 52px;
        border-bottom: 2px solid var(--gray-200);
        border-radius: 0;
    }
    .mat-expansion-indicator::after {
        color: rgba(0, 0, 0, 0.84);
        padding: 6px;
    }
}

.active-slide-toggle {
    .mat-slide-toggle-bar {
        background-color: rgba(250, 165, 26, 0.54);
    }
    .mat-slide-toggle-thumb {
        background-color: #faa51a;
    }
}

.pricing-bottom-btn {
    display: grid;
    grid-template-columns: minmax(0,300px);
    justify-content: center;
}

.rm-mb, .rm-tab {
    .mat-tab-sessions .mat-tab-body-content {
        height:var(--height-session-inner);
    }
}

.mat-menu-item:hover:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item-highlighted:not([disabled]) {
    background: rgba(0, 0, 0, 0.01) !important;
}