@import "base.scss";
@import "common/list-module.scss";
@import "common/form-module.scss";
@import "common/public.scss";
@import "common/mobile.scss";

@each $mcolor, $mcolor_value in $mcolor {
    .#{$mcolor}-bg {
        background-color: $mcolor_value;
    }

    .#{$mcolor}-text {
        color: $mcolor_value;
    }
}

// align

.vh-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

// width

.w-48 {
    width: 48px;
}

.width-600 {
    width: 600px;
}

.width-480 {
    width: 480px !important;
}

.w-480 {
    display: grid;
    grid-template-columns: minmax(100px, 480px);
}

.w-680 {
    display: grid;
    grid-template-columns: minmax(100px, 680px);
}

@include media-breakpoint-down(sm) {
    .width-600 {
        width: 100%;
    }

    .width-480 {
        width: 100% !important;
    }
}

// height

.vh-100 {
    overflow: auto;
    height: var(--vh);
}

// label

.label-sm {
    padding: rem(8);
    font-size: 12px;
    font-weight: $fw-m;
}

.label-radius {
    line-height: 20px;
    font-weight: $fw-n;
    border-radius: 100px;
}

.cursor-pointer {
    cursor: pointer;
}

.textarea-noresize {
    resize: none;
}

// width

.trns-400 {
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
}

// search

@each $r-name, $r-size, $r-padding, $r-fontsize, $r-iconsize,
    $r-iconlinh in $all-sizes
{
    .search-#{$r-name} {
        display: grid;
        grid-template-columns: #{$r-size} 1fr;
        height: $r-size;
        border-radius: calc(#{$r-size} / 4);
        align-items: center;
        .input-search {
            border: none;
            height: $r-size;
            width: 100%;
            background: transparent;
        }
        .feather,
        i-feather {
            width: $r-iconsize;
            height: $r-iconsize;
            line-height: $r-iconlinh;
        }
    }
}

// .search-animate {
//     -webkit-transition: all 0.4s ease-in-out;
//     transition: all 0.4s ease-in-out;
// }

// input[type="search"]:focus {
//     background: var(--gray-100);
//     position: absolute;
//     top: 8px;
//     left: 56px;
//     z-index: 99;
//     width: 80%;
// }

@each $r-name, $r-size, $r-padding, $r-fontsize, $r-iconsize,
    $r-iconlinh in $all-sizes
{
    .avatar-#{$r-name} {
        width: $r-size;
        height: $r-size;
        border-radius: 100px;
        background: var(--gray-200);
    }
}

.avatar-xll,
.avatar-xxl {
    width: 82px;
    height: 82px;
    border-radius: 100px;
    background: var(--gray-200);
    .online-status {
        position: absolute;
        bottom: -2px;
        right: 16px;
    }
}

.avatar-xss {
    .status-indication {
        width: 8px;
        height: 8px;
        border-radius: 100px;
        border: 1px solid #fff;
    }
    .online-status {
        position: absolute;
        bottom: -1px;
        right: 0px;
    }
}

// animation

.anim-y {
    animation: slideUp 0.6s both;
}

@for $i from 2 through 20 {
    .anim-y:nth-child(#{$i}) {
        animation-delay: #{$i * 0.14}s;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(76px) scale(0.92);
        opacity: 0;
    }
}

// responsive

.uc-common-px-4 {
    padding-right: var(--space-md) !important;
    padding-left: var(--space-md) !important;
}

.uc-common-py-4 {
    padding-top: var(--space-md) !important;
    padding-bottom: var(--space-md) !important;
}

.c-width-wrapper {
    display: grid;
    grid-template-columns: minmax(100px,1180px);
    justify-content: center;
}

.user-col-2 {
    display: grid;
    grid-template-columns: 380px 1fr;
    height: var(--height-inner);
}

.user-col-2-left {
    border-right: 1px solid var(--gray-200);
    // height: calc(100vh - 62px);
    grid-template-rows: auto auto 1fr;
    display: grid;
    height: 100%;
    overflow: auto;
}

.user-col-2-head {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    grid-gap: 16px;
    grid-template-areas:
        "uc-heading uc-btns"
        "uc-search uc-search";
}

.uc-heading {
    grid-area: uc-heading;
    justify-content: start;
    align-items: center;
}

.uc-btns {
    grid-area: uc-btns;
}

.uc-search {
    grid-area: uc-search;
}

.uc-lists {
    display: grid;
    grid-gap: 8px;
    align-content: start;
    grid-auto-rows: min-content;
}

.manage-list-wrap {
    overflow: auto;
    height: 100%;
    display: grid;
    // grid-template-columns: 1fr 32px;
    grid-template-columns: 1fr;
}

.uc-list-items {
    padding: rem(10) rem(16);
    border-radius: 10px;
    list-style: none;
    &.active {
        background: var(--primary-200);
    }
}

.easy-search {
    ul {
        list-style: none;
        grid-gap: 6px;
        justify-content: center;
        display: grid;
        > li {
            a {
                color: var(--gray-500);
                font-size: rem(14);
                font-weight: $fw-m;
            }
            &.active {
                a {
                    color: var(--bs-primary);
                }
            }
        }
    }
}

.uc-list-title {
    font-size: rem(16);
}

.uc-list-sub-title {
    font-size: rem(15);
    font-weight: $fw-n;
    color: var(--gray-600);
}

.layout-details-wrapper {
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: auto;
    height: 100%;
}

.layout-details-head {
    background: var(--gray-100);
    padding: rem(24);
    display: grid;
    grid-template-columns: 1fr auto;
    .uc-list-title {
        font-size: rem(18);
    }
    .uc-list-sub-title {
        font-size: rem(16);
        color: var(--gray-700);
    }
}

.uc-tabs {
    .mat-tab-list {
        padding-left: var(--uc-padding) !important;
        padding-right: var(--uc-padding) !important;
        background: var(--gray-100);
    }
}

.uc-sub-tabs {
    .mat-tab-list {
        padding-left: 0 !important;
        padding-right: 0 !important;
        background: transparent;
    }
}

.filter-width {
    width: 320px !important;
    max-width: 320px !important;
}

.uc-all-overview {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 24px;

    .overview-items {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
        border-radius: 8px;
        border: none;
    }
}

.hrs-mins-container {
    .hrs-mins-text {
        font-size: rem(16);
    }
    .hrs-mins {
        font-size: calc(1.3rem + 0.6vw);
    }
}

// tag cloud

.tag-cloud {
    display: flex;
    justify-content: start;
    grid-gap: 8px;
    flex-wrap: wrap;
}

.layout-sub-profile {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
}

// grid

.grid-box {
    display: grid;
    grid-template-rows: 1fr;
    position: relative;
    &.sm {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-gap: 16px;
        .items-img {
            i-feather,
            .feather {
                width: 36px;
                height: 36px;
                line-height: 32px;
                color: var(--gray-500);
                stroke-width: 1;
                margin-top: -3px;
            }
        }
    }
    &.md {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        grid-gap: 16px;
        .items-img {
            i-feather,
            .feather {
                width: 48px;
                height: 48px;
                line-height: 48px;
                color: var(--gray-500);
            }
        }
    }
}
.items-img {
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
}
.items:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    padding-bottom: 100%;
}

.checkbox-container {
    width: 24px;
    height: 24px;
    background: rgba(#000, 0.4);
    position: absolute;
    top: 8px;
    left: 8px;
    border-radius: 2px;
    display: none;
    place-content: center;
    mat-checkbox {
        margin-top: -3px;
    }
}

.items {
    position: relative;
    border-radius: 10px;
    background: var(--gray-100);
    border: 1px solid var(--gray-200);
    &:hover {
        .checkbox-container {
            display: grid;
        }  
    }
}

.grid-list-title {
    color: var(--gray-900);
    font-size: 14px;
}

.shot-thumbnail-overlay {
    border-radius: 0 0 8px;
    padding: 0 rem(8);
    display: grid;
    align-content: end;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    background: #ffffff80;
    width: 100%;
}

// grid

.user-grid {
    grid-template-columns: 1fr;
    align-content: start;
    .layout-details-wrapper {
        display: none;
    }
    .user-col-2-head {
        grid-template-columns: 1fr;
        grid-template-areas: "uc-heading uc-search uc-btns";
        gap: 8px;
    }
    .manage-list-wrap {
        grid-template-columns: 1fr;
    }
    .uc-lists {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        grid-gap: 16px;
    }
    .uc-list-items {
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
        padding: rem(24);
        grid-auto-flow: row;
        grid-auto-columns: 1fr;
        align-items: start;
        align-content: start;
    }
    .easy-search {
        display: none;
    }
    .uc-back {
        display: none;
    }
    .uc-px-5 {
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }
    .uc-py-4 {
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
    }
    .uc-lists-main-avatar {
        width: 62px;
        height: 62px;
        .avatar-content,.avatar-container{
            width: 62px !important;
            height: 62px !important;
            line-height: 62px !important;
        }
    }
    // .uc-title-center {
    //     justify-content: center;
    // }
    .uc-lists-more {
        grid-auto-flow: row;
        grid-gap: 8px;
        padding-top: 10px !important;
    }
    .uc-clear-filter {
        margin-right: auto !important;
        margin-left: inherit !important;
        padding-left: rem(32);
    }
    .online-status-sm {
        bottom: 0px;
        right: 4px;
    }
}

.uc-sub-lists {
    display: grid;
    grid-template-columns: minmax(100px, 420px) minmax(100px, 1fr);
}

.uc-sub-lists-col-1 {
    .user-col-2-left {
        border: 0;
    }
}

.uc-sub-lists-col-2 {
    margin-top: 74px;
    border-left: 1px solid var(--gray-100);
}

.uc-col-min-width {
    display: grid;
    grid-template-columns: minmax(100px, 380px) 1fr;
}

.uc-col-max-width {
    max-width: 400px;
}

@media (max-width: 992px) {
    .uc-sub-tabs {
        .session-list {
            display: grid;
            grid-template-columns: minmax(100px, 320px) minmax(300px, 1fr);
        }
    }
}

.mat-ripple {
    cursor: pointer;
    transition: all 300ms ease;
    &:hover {
        background: var(--primary-200);
    }
}

// user tabs

.user-left-tabs-align {
    .mat-tab-label-container {
        padding-left: 1.5rem !important;
        padding-right: 1.5rem !important;
    }
    .mat-tab-body-wrapper {
        height: 100%;
    }
}

// add  user

.add-user-grid {
    display: grid;
    grid-template-rows: 52px 1fr 52px;
    height: 100%;
    overflow: auto;
    margin: 0 -16px;
    .rcs-select-container-list-wrapper {
        position: absolute;
        width: 100%;
        z-index: 99;
        top: 36px;
    }
}

.add-user-sub-grid {
    display: grid;
    grid-template-rows: auto 1fr ;
    overflow: auto;
}

.user-col-2-left {
    .manage-list-container {
        padding-left: 0 !important;
        padding-right: 0 !important;
        box-shadow: none !important;
        padding-top: 0 !important;
        // grid-template-columns: 1fr;
        padding-bottom: 0;
        margin-left: calc(calc(var(--space-md) - 8px) * -1);
        margin-right: calc(calc(var(--space-md) - 14px) * -1);
    }
    .g-col-list-wrapper {
        padding: .5rem 12px;
        border-radius: 8px;
        cursor: pointer;
        &.active {
            background: var(--primary-200);
        }
    }
    .subject-active{
        cursor: pointer;
        &:hover {
            background: var(--primary-200); 
        }
    }
    .manage-lists {
        gap: 4px;
    }
}

// class layout

.class-add-user-wrapper {
    display: grid;
    grid-template-rows: auto 1fr 150px auto;
    height: 100%;
    .mat-tab-body-wrapper {
        height: 100% !important;
    }
}

.class-add-user-dailog-height {
    height: calc(100% - 40px);
}

.class-add-user-selected {
    display: grid;
    grid-template-rows: auto auto 1fr;
    height: 100%;
}

// responsive class

.uc-tabs-height .mat-tab-body-wrapper {
    height: calc( var(--vh-100) - (var(--header_height) + var(--user-sub-head)));
}

.class-session-tab {
    .mat-tab-body-wrapper {
        height: 100%;
    }
    .session-list{
        height: calc( var(--vh-100) - (var(--header_height) + var(--user-sub-head) + 48px + 15px));
        grid-template-columns: minmax(300px, 440px) minmax(280px, 580px)
    }
}

.uc-sub-lists {
    .class-subject-list {
        margin-left: 0 !important;
    }   
}

.class-subject-container {
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    overflow: auto;
    gap: 8px;
}
