@import "m-variables.scss";
@import "m-functions.scss";

// font
@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@300;400;600;700&display=swap");

.font-roboto {
    font-family: "Roboto", sans-serif;
}

body {
    font-family: "Kulim Park", sans-serif;
    word-spacing: -1px;
    color: var(--gray-800);
}

* {
    outline: 0;
}

p {
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;

    &:hover {
        color: var(--bs-primary);
    }
}

.link-underline {
    text-decoration: underline;
}

.bg-active {
    &.active{
        background: var(--primary-200);
    }
}

.bg-hover {
    &:hover {
        background: var(--primary-200); 
    }
}

.radius-100 {
    border-radius: 100px;
}

.rounded-8 {
    border-radius: 8px;
}

.round-sm {
    border-radius: var(--rounded-sm);
}

//font weight
@each $weight, $fontweight_value in $fontweight {
    .#{$weight} {
        font-weight: $fontweight_value !important;
    }
}

@each $name, $color_value, $lighten_color in $all-colors {
    .bg-l-#{$name} {
        background: $lighten_color;
        color: $color_value;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.bg-darken {
    background: var(--darken);
}

// mat-button-toggle-group
.mat-button-toggle-group-sm {
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 26px;
        font-size: 14px;
    }
}

.whiteboard-toggle {
    border: 1px solid var(--bs-primary) !important;
    background: #fff;
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 28px;
        width: 36px;
        height: 20px;
        svg {
            position: absolute;
            left: 8px;
            top: 4px;
            width: 20px;
            height: 20px;
        }
    }
}

.mat-button-toggle-group-tag {
    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        line-height: 32px;
        font-size: 14px;
        font-weight: $fw-m;
    }
}

// button

button {
    outline: none !important;
}

// Font

.f-18 {
    font-size: rem(18);
}

.f-14 {
    font-size: rem(14);
}

.f-15 {
    font-size: rem(15);
}

.f-13 {
    font-size: rem(13);
}

.f-12 {
    font-size: rem(12);
}

.f-11 {
    font-size: rem(11);
}

.f-10 {
    font-size: rem(10);
}

.t-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// logo
.roombr-logo {
    display: block;
    height: 32px;
    width: 150px;

    &.l-sm {
        height: 32px;
        width: 150px;
    }

    &.sm {
        height: 26px;
        width: 122px;
    }
}

input:-internal-autofill-selected {
    -webkit-appearance: menulist-button;
    background-color: transparent !important;
    background-image: none !important;
    color: -internal-light-dark-color(black, white) !important;
}

// i-feather
.if-l-16 {
    line-height: 16px;
}

// grid
.main-pad {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
}

.d-grid {
    display: grid !important;
}

.g-col {
    grid-auto-flow: column;
    display: grid !important;
}

.grid-col {
    grid-auto-flow: column;
    display: grid !important;
    justify-content: start;
}

.auto-fr {
    grid-template-columns: auto 1fr;
}

.fr-auto {
    grid-template-columns: 1fr auto;
}

.auto-auto {
    grid-template-columns: auto auto;
}

.auto-auto-auto {
    grid-template-columns: auto auto auto;
}

.g-v-middle {
    align-items: center;
}

.g-h-middle {
    justify-content: center;
}

.g-middle {
    @extend .g-v-middle;
    @extend .g-h-middle;
}

.g-items-center {
    justify-items: center;
}
.gap-16 {
    grid-gap: 16px !important;
}

.gap-24 {
    grid-gap: 24px !important;
}

.gap-8 {
    grid-gap: 8px !important;
}

.gap-4 {
    grid-gap: 4px !important;
}

.gap-2 {
    grid-gap: 2px !important;
}

.grid-2-1-1 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.grid-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.g-col-list {
    display: grid;
    justify-content: start;
    grid-gap: 12px;
    grid-auto-flow: column;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-items: center;
}

.g-col-list-item {
    @extend .grid-col;
    @extend .g-v-middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    grid-gap: 8px;
}

.g-row-list {
    display: grid;
    justify-content: start;
    grid-gap: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.g-h-center {
    justify-content: center;
}

// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .md {
        &.grid-1-1-1 {
            grid-template-columns: 1fr;
        }
    }
}

@media (max-width: 1199.98px) {
    .grid-2-1-1 {
        grid-template-columns: 1fr;
    }
}

// blink
.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.feather-18 {
    width: 18px !important;
    height: 18px !important;
    line-height: 13px;

    i-feather,
    .feather {
        width: 18px !important;
        height: 18px !important;
        line-height: 13px;
    }
}

.feather-16 {
    width: 16px !important;
    height: 16px !important;
    line-height: 13px;
    i-feather,
    .feather {
        width: 16px !important;
        height: 16px !important;
        line-height: 13px;
    }
}

.feather-12 {
    width: 12px !important;
    height: 12px !important;
    line-height: 13px;
    i-feather,
    .feather {
        width: 12px !important;
        height: 12px !important;
        line-height: 13px;
    }
}

.i-feather-100 {
    i-feather,
    .feather {
        width: 100% !important;
        height: 100% !important;
        line-height: 13px;
        stroke-width: 1px;
    }
}

.i-feather-24 {
    .feather,
    i-feather {
        width: 24px;
    }
}
// shadow
.shadow-1 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
}

.badge {
    &.sm {
        padding: rem(4) rem(8);
        font-size: rem(11);
        font-weight: $fw-m !important;
    }
    &.lg {
        padding: rem(10) rem(14);
        font-size: rem(15);
        font-weight: $fw-m !important;
    }
}

.badge-style-1 {
    background: #fff;
    align-items: center;
    border: 1px solid var(--gray-200);
    color: var(--gray-900);
}

// shadow

.shadow-1 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
}

//

.badge {
    &.lg {
        padding: rem(10) rem(14);
        font-size: rem(15);
        font-weight: $fw-m !important;
    }
}

// form
.input-transparent {
    border: none;
    background: transparent;
}

// no data container
.no-data-wrapper-1 {
    display: grid;
    grid-auto-columns: minmax(200px, 480px);
    justify-items: center;
}

.no-data-icon {
    display: grid;
    grid-auto-columns: minmax(30px, 60px);
    justify-items: center;
}

.no-data-wrapper-md {
    display: grid;
    grid-auto-columns: minmax(200px, 480px);
    justify-items: center;
}

.no-data-wrapper-lg {
    display: grid;
    grid-auto-columns: minmax(200px, 580px);
    justify-items: center;
}

.no-data-icon-md {
    display: grid;
    grid-auto-columns: minmax(200px, 280px);
    justify-items: center;
}

.no-data-icon-lg {
    display: grid;
    grid-auto-columns: minmax(200px, 380px);
    justify-items: center;
}

.no-data-wrapper-sm {
    display: grid;
    grid-auto-columns: minmax(100px, 1fr);
    justify-items: center;
}

.no-data-icon-sm {
    display: grid;
    grid-auto-columns: minmax(100px, 150px);
    justify-items: center;
}

// social color
.fb-color {
    color: #3b579d;
    fill: #3b579d;
}
.twitter-color {
    color: #1da1f2;
    fill: #1da1f2;
}
.whatsapp-color {
    color: #25d366;
    fill: #25d366;
}
.linkedin-color {
    color: #0076b4;
    fill: #0076b4;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid transparent;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    transition: background-color 5000s ease-in-out 0s;
}

td , th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
}

// error container

.error-content {
    background: var(--gray-100);
    border-left: 2px solid var(--bs-red);
}

.btn-ic-24{
    .feather,
    i-feather {
        width: 24px !important;
    }
}

// opacity

.opacity-4 {
    opacity: 0.4;
}
// ui toast

.connection-status {
    z-index: 9999;
    position: absolute;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 16px 0 16px;
}

.connection-status-inner {
    display: grid;
    grid-template-columns: minmax(100%, auto);
    border-radius: 8px;
}

.all-screens-alert {
    position: relative;
    z-index: 10;
    box-shadow: 0px 2px 6px rgb(0 0 0 / 30%);
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 4px;
    text-align: center;
}

.link-uderline {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
}

.m-grey-l5-text {
    color: #2c3945;
}

.fw-m {
    font-weight: 500;
}

.ml-danger {
    background: #ef9a9a;
    color: #c62828;
}

.ml-warning {
    background: #f5ecb3;
    color: #a05f00;
}

// margin

.ml-2px{
    margin-left: 2px !important;
}

// spinner

.spinner-container {
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.cover-spin {
    position: fixed;
    z-index: 9999;
    display: grid;
    align-items: center;
    justify-items: center;

    .mat-spinner {
        position: absolute;
    }
}

.cover-spin-inline {
    position: relative;
    .mat-spinner {
        position: relative;
        left: 48%;
    }
}

.spinner-outer {
    .spinner-container {
        position: absolute;
        place-content: center;
        display: grid;
    }
    .mat-spinner {
        left: auto;
    }
}
