 $blue: #0652DD;
 $indigo: #6610f2;
 $purple: #6f42c1;
 $pink: #e83e8c;
 $red: #dc3545;
 $orange: #f8a519;
 $yellow: #D9B504;
 $green: #37C977;
 $teal: #00B5AD;
 $cyan: #17a2b8;
 $white: #fff;
 $grey-100: #f8f9fa;
 $grey-100: #f8f9fa;
 $grey-200: #e9ecef;
 $grey-300: #dee2e6;
 $grey-400: #ced4da;
 $grey-500: #adb5bd;
 $grey-600: #6c757d;
 $grey-700: #495057;
 $grey-800: #343a40;
 $grey-900: #0f1419;
 $black: #000;
 $gray-800: #343a40;

 /* color */
 $mcolor:(
   "blue": $blue,
   "blue-100": lighten($blue,45%),
   "indigo": $indigo,
   "purple":$purple,
   "pink":$pink,
   "red":$red,
   "red-100": lighten($red,45%),
   "red-500": lighten($red,80%),
   "orange":$orange,
   "yellow":$yellow,
   "green":$green,
   "green-100": lighten($green,45%),
   "teal":$teal,
   "cyan":$cyan,
   "white":$white,
   "grey-100": $grey-100,
   "grey-200": $grey-200,
   "grey-300": $grey-300,
   "grey-400": $grey-400,
   "grey-500": $grey-500,
   "grey-600": $grey-600,
   "grey-700": $grey-700,
   "grey-800": $grey-800,
   "grey-900": $grey-900,
 );


 $btncolor:
   "blue"  $blue $white,
   "indigo"  $indigo $white,
   "purple" $purple $white,
   "pink" $pink $white,
   "red" $red $white,
   "orange" $orange $white,
   "yellow" $yellow $white,
   "green" $green $white,
   "teal" $teal $white,
   "cyan" $cyan $white,
   "white" $white $grey-700,
   "grey-100"  $grey-100 $grey-700,
   "grey-200"  $grey-200 $grey-700,
   "grey-300"  $grey-300 $grey-700,
   "grey-400"  $grey-400 $grey-700,
   "grey-500"  $grey-500 $grey-100,
   "grey-600"  $grey-600 $grey-100,
   "grey-700"  $grey-700 $grey-100,
   "grey-800"  $grey-800 $grey-100,
   "grey-900"  $grey-900 $grey-100;



 // Font

 $headings-font-weight:400;

 $fw-t:100;
 $fw-l:300;
 $fw-n:400;
 $fw-m:600;
 $fw-b:700;

$fontweight:(
  "fw-t":100,
  "fw-l":300,
  "fw-n":400,
  "fw-m":600,
  "fw-b":700);

$btn-sizes:
  "xs" 24px rem(16) rem(12),
  "sm" 32px rem(22) rem(13),
  "md" 36px rem(24) rem(14),
  "lg" 48px rem(26) rem(15),
  "xl" 52px rem(30) rem(16);

$common-sizes:
  "xs" 18px rem(12),
  "sm" 24px rem(13),
  "md" 32px rem(14),
  "lg" 36px rem(15),
  "xl" 48px rem(15),
  "xxl" 54px rem(16);

$all-sizes:
  "xss"24px rem(6) rem(13) 14px 14px,
  "xs" 28px rem(12) rem(13) 14px 14px,
  "sm" 32px rem(16) rem(14) 18px 14px,
  "md" 36px rem(16) rem(15) 20px 14px,
  "lg" 42px rem(26) rem(16) 24px 20px,
  "xl" 52px rem(30) rem(16) 24px 20px;
  // name,size,padding,fontsize,icon size

  $all-res-sizes:
  "xss"24px rem(6) rem(13) 14px 14px,
  "xs" 28px rem(6) rem(13) 14px 14px,
  "sm" 32px rem(16) rem(14) 16px 14px;
  // name,size,padding,fontsize,icon size

  $all-colors:
  "blue" $blue lighten($blue,40%),
  "indigo" $indigo lighten($indigo,40%),
  "purple" $purple lighten($purple,40%),
  "pink" $pink lighten($pink,40%),
  "red" $red lighten($red,35%),
  "orange" $orange lighten($orange,40%),
  "yellow" darken($yellow,20%) lighten($yellow,45%),
  "green" $green lighten($green,40%),
  "teal" $teal lighten($teal,50%),
  "cyan" $cyan lighten($cyan,50%),
  "gray-800" $gray-800 lighten($gray-800,70%);
  // name,color,lighten color

 // Popup chat

 $pc-header-height : 44px;
 $pc-bottom-height : 62px;

 // main chat

 $mc-pt: 64px;
 $mc-pb: 80px;

//  meetingroom

$mr-action-height : 64px;
$mr-attendees-top-padding : 80px;
$mr-chat-top-padding : 60px;
$mr-chat-bottom-height : 48px;